@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --bg: #F3F6FF;
    --heading: #0B0F19;
    --subtitle: #565973;
    --subtitle-light: #9397AD;
    --button: #6F6EF0;
    --black: #000000;
    --white:  #FFFF;
    --green: #31C361;
    --yellow: #FFBA08;
    --blue: #2196F3;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: light;
}

.dark {
    color-scheme: dark;

    --primary: #FFFFFF;
    --secondary: #FFFFFF;
    --bg: #0B0F19;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/***** MOBILE (368px) *****/

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

}

.navbar-left a {
    display: none;
}

.navbar-right {
    display: flex;
    gap: 1.5rem;
}

.navbar-right p {
    display: none;
}

.menu-button {
    display: block;
}


/* Toggle switch (Kod tagen från W3Schools) */

.switch {
    display:inline-block;
    position: relative;
    width: 48px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9f9f9f;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--blue);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--blue);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.menu-button {
    background-color: var(--white);
    border:none;
    font-size: 1.5rem;
}


.signin-btn {
    display: none;
}

/* Header */

.header {
    background: linear-gradient(0deg, rgba(254,222,255,0.5158438375350141) 0%, rgba(250,250,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text-box {
    margin-top: 2rem;
    text-align: center;
}

.header-title {
    display: block;
}

.header-text {
    color: var(--subtext);
    font-size: 1rem;
    line-height: 1.5;
    padding: 1em 0 2em 0;
}

.header-img {
    display: none;
}

.discover {
    display: flex;
    margin: 2rem;
    justify-content: center;
}

.discovericon {
    height: 40px;
    width: 40px;
    background-color: var(--white);
    border-radius: 50%;
    position: relative;
    box-shadow: 1px 1px 1px 0px rgba(0.5, 0.5, 0.5, 0.5);

}

.discovericon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75em;
    font-weight: 700;

}

.discover p {
    color: var(--subtitle);
    padding: 10px;
}


.logo-container {
    display: none;

}

/* Features */

.features-container {
    display: block;
    margin-top: 1rem;
}

.features-container img {
    display: none;
}

.features-title {
    font-size: 1.5rem;
}

.features-text-box {
    display: inline;
    text-align: center;
}

.features-text {
    color: var(--subtitle-light);
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    margin-block: 0.5rem;
    font-size: 1rem;
}

.features-list {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    padding: 1rem;
}

.features-list ul {
    list-style: none;
}


.features-list li {
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.5;
}

.features-list p {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--subtitle);
}

#f1::before {
    content: '';
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-image: url("/icons/creditcard.png");
    background-repeat: no-repeat;
    float: left;
    margin-left: -25%;
}

#f2::before {
    content: '';
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-image: url("/icons/bars-graphic.png");
    background-repeat: no-repeat;
    float: left;
    margin-left: -25%;

}

#f3::before {
    content: '';
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-image: url("/icons/wallet.png");
    background-repeat: no-repeat;
    float: left;
    margin-left: -25%;
}

#f4::before {
    content: '';
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-image: url("/icons/shield.png");
    background-repeat: no-repeat;
    float: left;
    margin-left: -25%;
}

#f5::before {
    content: '';
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-image: url("/icons/communication.png");
    background-repeat: no-repeat;
    float: left;
    margin-left: -25%;
}

#f6::before {
    content: '';
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-image: url("/icons/happy.png");
    background-repeat: no-repeat;
    float: left;
    margin-left: -25%;
}

/* Functions */

.functions {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.functions-title {
    margin-block: 3rem;
    font-size: 1.5rem;
}

.image-box {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
}

.phoneimg {
    max-width: 100%;
    min-height: 100%;
    display: block;
}

#phone1, #phone2, #phone2x, #phone3x, #phone4 {
    display: none;
}

.functions-text-small {
    display: block;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 300;
    color: var(--subtitle);
    padding: 1rem;
}

.functions-text-small h3 {
    font-size: 1.1rem;
    text-align: center;
    color: var(--black);
}

.functions-text-small p {
    padding: 1em;
}

.functions-text-wide {
    display: none;
}

/* Transactions */ 

.transactions-container {
    display: none;
}

/* Recieve payment */

.recieve-payment {
    display: none;
}

/* Client Review */

.client-review-container {
    display: none;
}

/* FAQ */

.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.faq-title h2 {
    color: var(--heading);
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 700;
    margin-block: 2rem;
    text-align: center;
}

.contact-info {
    color: var(--subtitle);
    line-height: 1.5;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-block: 2rem;
}


.questions {
    display: flex;
    flex-direction: column;
}

.faqs {
    color: var(--heading);
    line-height: 1.5;
    font-size: 16px;
    font-weight: 450;
    padding: 0.5rem;
    border: 0.5px solid #dddddd;
}

.chevron {
    float: right;
    height: 35px;
    width: 35px;
    background-color: var(--lightgrey);
    border-radius: 50%;
    position: relative;
}

.chevron i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75em;
    font-weight: 700;
}

#q1 .chevron {
    float: right;
    height: 35px;
    width: 35px;
    background-color: var(--button);
    border-radius: 50%;
    position: relative;
}

#q1u {
    color: var(--white);
    display: block;
}

#q1 p {
    margin-block: 1rem;
    line-height: 1.5;
    font-weight: 300;
    font-size: 15px;
    color: var(--subtitle);
    display: block;
    white-space: pre-line;
}

#q1d, #q3u, #q3 p {
    display: none;
}

.contactbtn {
    background-color: var(--button);
    color: var(--white);
    padding: 18px 32px;
    border: none;
    border-radius: 5px;
    margin: 3rem;
}

.contact-container {
    display: none;
}

/* Subscribe */

.subscribe-container {
    background-color: var(--bg);
    margin: auto;
    width: 360px;
    height: 250px;
}

.sub-flex {
    display: flex;
    padding: 4rem 0 3rem 1rem;
    margin: auto;
    gap: 1rem;
}

.sub-icon {
    width: 20%;
    height: 30%;
    display: block;
}

.sub-title {
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 650;
    width: 50%;
    display: block;
}

/* Input */

.sub-text-box {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

#subinput {
    background-color: var(--white);
    width: 320px;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
}

input:focus {
    outline: none;
}

.subscribe-button {
    position: absolute;
    padding: 14px;
    width: 100px;
    border-radius: 0 10px 10px 0;
    border: 1px solid grey;
    background-color: var(--button);
    color: var(--white);
    margin-left: 80%;
}
    
/* Footer */
    
.footer {
    color: var(--subtitle);
    font-weight: 250;
    font-size: 0.8em;
    padding: 2rem;
    text-align: center;
}

.phone-only-br {
    display: block;
}

.tablet-only-br {
    display: none;
}

/***** TABLET (768px) *****/

@media (min-width: 768px) and (max-width: 1400px) {

    /* Navbar */


    .navbar-right p {
        display: block;
    }

    .menu-button {
        gap: 3rem;
    }

    /* Header */

    .header-title {
        position: absolute;
        left: 25%;
        width: 50%;
        top: 20%;
        font-size: 2.5rem;

    }

    .header-text {
        margin-top: 30%;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 300;

    }

    .header-img {
        display: block;
        width: 60%;
        height: 100%;
        margin-top: 20%;
        padding: 0 1rem 0;
    }

    .header-text {
        display: block;
    }

    .markets {
        display: flex;
        padding: 1rem;
        gap: 1rem;
    }

    .markets img {
        width: 55%;
        height: 55%;
    }

    .discover {
        position: absolute;
    }

    /* Logos */

    .logo-container {
        display: flex;
        gap: 1rem;
        padding: 2rem 1rem 1rem;
    }

    .logo {
        border: 1px solid #e5e5e5;
        width: 200px;
        height: 100px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo5, #logo6 {
        display: none;
    }

    /* Features */

    .features-container {
        display: block;
    }
    
    .features-title {
        font-size: 2rem;
        padding: 1rem;
    }

    .features-text {
        color: var(--subtitle-light);
        font-size: 1rem;
        font-weight: 300;
        padding: 1em;
    }

   .features-list ul {
        column-count: 2;
        padding: 1rem;
        margin-left: 4rem;

   }

   .features-list 

   /* Functions */

   .functions-title {
    font-size: 2rem;
    }

   #phone2, #phone3, #phone4 {
    display: block;
    width: 33.33%;
    
    }

    #phone2 {
        opacity: 0.8;
    }

    #phone2x, #phone3x {
        display: none;
    }


    .functions-text-small h3::before {
        content: 'Step 3. ';
    }

    .functions-text-small p {
        padding: 1rem;
    }

    /* FAQ */

    .questions {
        gap: 1rem;
        padding: 1rem;
    }

    #q1 p, #q3d {
        display: none;
    }

    #q3 p {
        display: block;
        font-weight: 300;
        color: var(--subtitle);
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    #q1d {
        display: block;
        color: var(--heading);
    }

    #q3u {
        display: block;
        color: var(--white);
    }

    #q1 .chevron {
        background-color: var(--lightgrey);
    }

    #q3 .chevron {
        background-color: var(--button);
    }

    /* Contact */

    .contactbtn {
        display: none;
    }

    .contact-container {
        display: flex;
        width: 100%;
        gap: 1.5rem;
        justify-content: center;
        margin-block: 1rem;
    }

    .contact {
        border: 1px solid rgb(230, 230, 230);
        border-radius: 10px;
        width: 45%;
        padding: 1rem;
    }
    
    .phone-title {
        color: var(--subtitle);
        line-height: 1.5;
        font-weight: 300;
        font-size: 15px;
        padding: 10px;
    }
    
    .phone-text {
        display: flex;
        color: var(--button);
        line-height: 1;
        margin: 1rem;
        gap: 1rem;
    }
    
    .mail-title {
        color: var(--subtitle);
        line-height: 1.5;
        font-weight: 300;
        font-size: 15px;
        padding: 10px;
    }
    
    .mail-text {
        display: flex;
        color: var(--green);
        line-height: 1;
        margin: 1rem;
        gap: 1rem;
    }

    /* Subscribe */

    .subscribe-container {
        displaY: grid;
        grid-template-columns: 1fr 1fr;
        width: 94%;
        justify-content: center;
        align-items: center;
        margin-block: 1rem;
        gap: 1rem;
    }

    .sub-flex {
        margin-left: 3rem;
        gap: 2rem;
    }

    .sub-icon {
        width: 30%;
        height: 30%;
    }

    .sub-title {
        font-size: 1.5rem;
        width: 100%;
    }

    .sub-text-box {
        margin-right: 5rem;
        width: 70%;
    }

    #subinput {
        width: 200px;
    }
    
    /* Footer */

    .footer {
        opacity: 0.5;
    }
    
    .phone-only-br {
        display: none;
    }

    .phone-tablet-br {
        display: block;
    }

    .tablet-only-br {
        display: block;
    }
}


/***** DESKTOP *****/

@media (min-width: 1400px) {
    
    
    .navbar-left {
       display: inline-flex;
       align-items: center;
        margin-left: 10%;
        gap: 2.5rem;
    }

    .navbar-left a {
        display: block;
        color: var(--black);
        text-decoration: none;
        font-size: 1rem;
    }

    .navbar-left a:hover {
        text-decoration: underline;
    }
    
    
    .navbar-right {
       display: inline-flex;
       align-items: center;
       justify-content: space-between;
       margin-right: 5rem;

    }
    
    .menu-button {
        display: none;
    }
      
    /* Sign in */
    
    .signin-btn {
        position: relative;
        display: block;
    }
    
    
    .signin-btn {
        background-color: var(--button);
        color: var(--white);
        border-radius: 5px;
        border: none;
        height: 30px;
        width: 130px;
    }
    
    .signin-btn::before {
        content: "\f007";
        font-family: "FontAwesome";
        font-size: 1rem;
        padding-right: 0.5rem;
    }

       /* Header */

    .header {
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        overflow: hidden;

    }

    .header-text-box {
        margin: 0 20% 3% 8%;

    }

    .header-title {
        font-size: 3rem;
        top: 30%;
        left: 10%;
        width: 30%;
        text-align: start;

    }
    
    .header-text {
        color: var(--subtitle);
        text-align: start;
        line-height: 1.5;
        width: 60%;
        margin-bottom: 3%;
    }

    
    .header-img {
        position: absolute;
        width: 75%;
        height: 75%;
        left: 35%;
    }

    .markets {
        width: 50%;
    }

    .discover {
        position: absolute;
        bottom: 0;

    }

    /* Logos */

    #logo5, #logo6 {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-container {
        margin: auto;
        width: 85%;
    }

       /* Features */ 

    .features-container {
        position: relative;
        width: 100%;
        height: 700px;
        overflow: hidden;
    }
    
    .features-container img {
        width: 25%;
        height: 90%;
        position: absolute;
        display: block;
        left: 5%;
    }

    .features-text {
        margin-left: 41%;
        text-align: start;
        margin-block: -1rem;
    }

    .features-list {
        margin-left: 41%;
        margin-block: 2rem;
    }


    /* Functions */

    #phone4, #phone2, #phone3 {
        display: none;
    }


    #phone1, #phone2x, #phone3x {
        display: block;
    }


    .phoneimg {
        width: 50%;
    }

    .functions-title {
        font-size: 2rem;
    }

    .functions-text-small {
        display: none;
    }

    .functions-text-wide {
        display: block;
        text-align: center;
    }

    .functions-text-wide h3 {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .functions-text-wide p {
        color: var(--subtitle);
        width: 70%;
        margin: auto;
        margin-bottom: 4rem;
    }

        /* Transactions */
    
    .transactions-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        margin-block: 10rem;
    }
        
    .transactions-text {
        padding: 1rem;
    }
        
    .transfer-title {
        line-height: 1.5;
        font-size: 2rem;
    }
        
    .transactions-text ul {
        list-style: none;
    }
        
    .transactions-text li {
        padding: 0.5rem;
        color: var(--subtitle);
        font-weight: 300;
        margin-left: -1rem;
    }
        
    .transactions-text li::before {
        content: "\f058";
        color: var(--button);
        font-family: "FontAwesome";
        padding: 0.5rem;
    }
        
    .transactions-text button {
        background: var(--button);
        color: var(--white);
        border-radius: 5px;
        border: none;
        height: 40px;
        width: 140px;
    }
        
    .transactions-text button::after {
        content: "\f061";
        color: var(--white);
        font-family: "FontAwesome";
    }
        
    .transactions-img {
        width: 60vh;
        height: 60vh;
    }
        
    /* Recieve payment */

        
    .recieve-payment {
        display: block;
        margin-left: 8rem;
    }
        
    .contacts-img {
        width: 40%;
        height: 100%;
        float: left;
    }
        
    .textbox-container {
        display: flex;
        width: 40%;
        gap: 30px;
    }
        
    .recieve-payment h2 {
        line-height: 1.5;
        font-size: 1.8em;
        font-weight: 900;
        margin: 3rem;
    }
        
    .textbox-container img {
        width: 25%;
        height: 25%;
    }
        
    .recieve-payment p {
        line-height: 1.5;
        font-weight: 300;
        opacity: 0.7;
    }
        
    .learn-more-button {
        background: var(--button);
        color: var(--white);
        border-radius: 5px;
        border: none;
        height: 40px;
        width: 140px;
        margin-top: 2em;
    }
    
    .learn-more-button::after {
        content: "\f061";
        color: var(--white);
        font-family: "FontAwesome";
        margin-left: 1em;
    }

        /* Reviews */
    
    
    .client-review-container {
        background-color: var(--bg);
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 2rem;

    }
    
    .client-review-container h1 {
        font-size: 2rem;
        margin: 4rem;
    }
    
    .reviews {
        width: 50%;
        height: 50%;
        display: flex;
        gap: 1rem;
        margin-block: 3rem;
    }
    
    .review-one {
        background: var(--white);
        box-shadow: 5px;
        border-radius: 5px 10px;
        margin-top: 2rem;
        padding: 1rem;
    }
    
    .quote {
        width: 30px;
        height: 30px;
        background-color: var(--button);
        border-radius: 5px;
        display: block;
        position: relative;
        bottom: 12%;
        box-shadow: 2px 2px var(--subtitle);
    
    }
    
    .quote i {
        color: var(--white);
        position: absolute;
        font-size: 1.25em;
        left: 20%;
        top: 15%;
    }
    
    .rating i {
        color: var(--yellow);
        font-size: 0.875em;
        margin-bottom: 20px;
    }
    
    .rating #clear {
        color: var(--subtitle);
        font-weight: 300;
    
    }
    
    .review-one p {
        line-height: 1.5;
        font-weight: 300;
        font-size: 1rem;
        color: var(--subtitle);
    }
    
    .author-one {
        width: 60%;
        height: 20%;
        padding: 5px;
        margin-top: 10px;
    }
    
    .review-two {
        background: var(--white);
        box-shadow: 5px;
        border-radius: 5px 10px;
        margin-top: 2rem;
        padding: 1rem;
    }
    
    .review-two p {
        line-height: 1.5;
        font-weight: 300;
        font-size: 1rem;
        color: var(--subtitle);
    }
    
    .author-two {
        width: 60%;
        height: 20%;
        padding: 5px;
        margin-top: 10px;
    }
    
    /* FAQ */

    .faq-container {
        width: 100%;
        height: 600px;
        display: block;
        position: relative;
    }

    .questions-container {
        margin-top: 5%;
        width: 50%;
        margin-left: 50%;
    }

    .faq-title {
        float: left;
        margin-left: 10%;
    }

    .faq-title h2 {
        font-size: 2rem;
        text-align: start;
    }

    .contact-info {
        text-align: start;
    }

    .contact-container {
        position: absolute;
        width: 35%;
        left: 8%;
        bottom: 25%;
        padding: 1rem;
    }

    /* Subscribe */


    .sub-title::after {
        content: " to stay informed about latest updates";
    }

    #subinput {
        width: 80%;

    }

    .sub-icon {
        width: 20%;
        height: 20%;
    }

 
    .desktop-only-br {
        display: block;
    }

    .phone-only-br {
        display: none;
    }

    .tablet-only-br {
        display: block;
    }
}